// Nextflow configuration file

// Global default params
params {
    // Input/output
    input_dir = null
    outdir = "results"
    
    // Resource defaults
    max_cpus = 32
    max_memory = '64.GB'
    max_time = '24.h'
}

// Set consistent work directory for better resume functionality  
workDir = "/home/jovyan/age/analysis/work"

// Enable conda
conda {
    enabled = true
    autoMounts = true
    useMamba = true  // Use mamba for faster package installation
    createTimeout = '1h'  // Allow more time for environment creation
}

// Process configuration
process {
    // Global process settings
    cpus = 4
    memory = '8 GB'
    time = '4h'
    
    // Error handling
    errorStrategy = 'terminate'
    
    // Conda cache directory (optional - improves performance)
    conda.cacheDir = "/home/jovyan/age/analysis/.conda_cache"
    
    conda.enabled = true
}

// Executor configuration
executor {
    name = 'local'
    cpus = 32
    memory = '64 GB'
}

// Docker/Singularity configuration (optional)
docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = false
    autoMounts = true
    cacheDir = 'singularity_cache'
}

// Profile configurations
profiles {
    standard {
        process.executor = 'local'
    }
    
    docker {
        docker.enabled = true
        process {
            withName: 'FASTQC' {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            withName: 'FASTQC_TRIMMED' {
                container = 'biocontainers/fastqc:v0.11.9_cv8'
            }
            withName: 'FASTP' {
                container = 'biocontainers/fastp:v0.23.2_cv1'
            }
            withName: 'MULTIQC' {
                container = 'multiqc/multiqc:latest'
            }
        }
    }
    
    singularity {
        singularity.enabled = true
        process {
            withName: 'FASTQC' {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--hdfd78af_1'
            }
            withName: 'FASTQC_TRIMMED' {
                container = 'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--hdfd78af_1'
            }
            withName: 'FASTP' {
                container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.2--h79da9fb_0'
            }
            withName: 'MULTIQC' {
                container = 'https://depot.galaxyproject.org/singularity/multiqc:1.13--pyhdfd78af_0'
            }
        }
    }
    
    cluster {
        process {
            executor = 'slurm'
            queue = 'normal'
            clusterOptions = '--account=my_account'
        }
    }
}

// Reporting
timeline {
    enabled = true
    file = "${params.outdir}/timeline_report.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/trace_report.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/dag_report.html"
    overwrite = true
}

// Manifest
manifest {
    name = 'FASTQ QC Pipeline'
    author = 'Matej Kubovcak'
    homePage = 'https://github.com/matejkubovcak/fastq-qc-pipeline'
    description = 'Quality control pipeline for paired FASTQ files using conda environments'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version = '1.1.0'
} 